<p id="notice"><%= notice %></p>
<% if @get_coupon  %>
	<p>不好意思,您已经领取过了,点击分享,有机会获取更多优惠券</p>
<% else %>
	<h1>领取券</h1>
	<button class="get_coupon">点击领取券</button>
<% end %>
<div class="show_coupon">
  <p>恭喜您获取一张<em>5</em>元优惠券,点击分享按钮可获取更多优惠券</p>
</div>

<br>
